/* 
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('..../fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
} 
*/
/* Light */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Light.ttf') format('truetype');
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* Medium */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

/* Bold */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

/* Extra Bold */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

/* Italic (example) */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/PlusJakartaSans-Italic.ttf') format('truetype');
  font-style: italic;
}

html,
body {
    margin: 0;
    color: #333;
    background: #fcfcfc;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0;
}

/*
	==========================================
	Faq Module
	==========================================
*/ 
@media screen and (min-width: 1280px) {
  section.faq-section {
    background: #FFF;
    padding: 56px 53px;
  }

  .faq-text button {
    height: 64px;
  }

  .accordion {
    background-color: rgba(233, 233, 233, 0.30);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    
  }
  .title p,
  .title h1,
  .title h2,
  .title h3,
  .title h4,
  .title h5,
  .title h6{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 26px 0 35px 0px;
    text-decoration-line: underline;
    width: 100%;
  }
  .faq-text .accordion p,
  .faq-text .accordion h1,
  .faq-text .accordion h2,
  .faq-text .accordion h3, 
  .faq-text .accordion h4, 
  .faq-text .accordion h5,
  .faq-text .accordion h6  {
      color: #000;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      line-height: 25.2px;
      padding: 19.5px 0 0 42px;
  }
  .faq-text .answer p,
  .faq-text .answer h1,
  .faq-text .answer h2,
  .faq-text .answer h3, 
  .faq-text .answer h4, 
  .faq-text .answer h5,
  .faq-text .answer h6 {
    color: #545454;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.68px;
    padding: 5px 0 19px 42px;
    width: 88%;
  }
  
  .faq-text {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .accordion:after {
    padding-right: 21px;
    content: '\002B';
    color: #777;
    font-weight: bold;
    font-size: 25px;
    float: right;
    transform: translateY(-80%);
    padding-bottom: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .answer {
    background-color: rgba(233, 233, 233, 0.30);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

/*
	==========================================
	 Faq For Mobile Phones
	==========================================
*/
@media screen and (max-width: 1279px){
  section.faq-section {
    background: #FFF;
    padding: 20px 20px;
  }
  
  
  .faq-text button {
    height: 22px;
  }

  .title p,
  .title h1,
  .title h2,
  .title h3,
  .title h4,
  .title h5,
  .title h6{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 26px 0 35px 0px;
    text-decoration-line: underline;
  }
  .faq-text .accordion p,
  .faq-text .accordion h1,
  .faq-text .accordion h2,
  .faq-text .accordion h3, 
  .faq-text .accordion h4, 
  .faq-text .accordion h5,
  .faq-text .accordion h6  {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .faq-text .answer p,
  .faq-text .answer h1,
  .faq-text .answer h2,
  .faq-text .answer h3, 
  .faq-text .answer h4, 
  .faq-text .answer h5,
  .faq-text .answer h6 {
    color: #545454;
    font-family: Plus Jakarta Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }

  .accordion {
    background: #FFF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }


  .faq-text .answer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    overflow: hidden;
    width: 100%;
  }

  .accordion:after {
    padding-right: 21px;
    content: '\002B';
    color: #777;
    font-weight: bold;
    font-size: 25px;
    float: right;
    transform: translateY(-80%);
  }

  .active:after {
    content: "\2212";
  }
  .answer h1,.answer h2,.answer h3,.answer h4,.answer h5{
    margin-bottom: 10px;
  }
  
  .answer {
    width: 70%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}


/*
	==========================================
	 Content Module 
	==========================================
*/
.content-module img{
  float: right;
  width: 250px;
  margin: 45px 35px 10px 40px;
}
.content-module{
  margin: 25px;
}
.content-module h1,.content-module h2,.content-module h3{
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}





/*
	==========================================
	 Header
	==========================================
*/

  

.header{
  padding-top: 10px;
  display: flex;
  position: relative;
  height: 97px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.header .container{
  
  display: flex;
  justify-content: space-between;
  
}

.header .menu {
  display: flex;
  position: relative;
  padding-left: 30px;
}
.header .menu li {
  color: #000;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  display: inline-block;
  text-align: center;
  padding: 30px;
}
.secondary-menu {
  display: flex;
  position: relative;
  padding-right: 120px;
}
.secondary-menu li {
  display: inline-block;
  text-align: center;
  padding: 30px;
}
.logo{
  color: #4681F4;
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.menu-toggle{
  display: none;
}



    
@media (max-width: 1279px) {
 
  .header .container {
    
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); 
  }
 .h1{
  padding-bottom: 15px;
 }
.secondary-menu{
  display: none;
}
.menu-toggle {
  display: block; 
  padding: 15px;
  text-align: center;
  background-color:white;
  color: black;

}

.menu-button {
  display: block;
}

.header .menu {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 250px; 
  height: 100%;
  transition: transform 0.3s;
  transform: translateX(100%);
}

.menu.active {
  margin-right: 600px;
  display: block;

}
.menu-button{

  display: flex;
  padding-top: 15px;



}


}
#menu-main-navigation{
  display: flex;
  height: 70px;
}
  


/*
	==========================================
	 Footer
	==========================================
*/

.footer .rectangle{
  position: absolute;
  pointer-events: none;

}


.footer .footer-logo{
  display: flex;
  padding-top: 60px;
  padding-left: 70px;
  gap: 10px;
  
}
.footer .logo-k{
  margin-top: 10px;
  z-index: 1;
}
.footer .keyreside{
  color: #4681F4;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
  margin-top: 10px;

}
.footer .contact-icons {
  display: flex;
  flex-direction: column; 
  align-items: start;
  float: inline-end;
  margin-right: 60px;
  
}

.footer .contact-row {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex; 
  align-items: center; 
  gap: 10px;
  margin-right: 70px;
}


.footer .btn{
  display: flex;
  width: 222px;
  height: 50px;
  padding: 5px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  float: right;
  margin-right: 100px;
  margin-top: 40px;
 
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  border-top: 2px solid  rgba(24, 39, 75, 0.12);
  position: relative;
  margin: auto;
}



.footer .menu-item{
  width: 150px;
  margin-right: 70px;
}

 .footer .menu{
  display: flex;
  margin-left: 70px;
  
 }

 .footer-left{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 70px;
  
  z-index: 1;
 }

.footer-left ul ul li {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;


}


.footer .follow-us {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align:center;
  float: right;
  margin-top: 10px;
}

.follow-us h2{
  width: 120px;
}


.footer .social-icons{
  display: flex;
  filter: drop-shadow(0px 8px 24px rgba(24, 39, 75, 0.08))drop-shadow(0px 6px 12px rgba(24, 39, 75, 0.12));
  float: right;

 
}

.footer .rights{
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline;
  z-index: 1;
  margin-left: 100px;
  position:absolute;
  margin-top: 90px;
}

.footer .policy{
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline;
  z-index: 1;
  float: right;
  position: relative;
  margin-top: 90px;
  margin-right: 60px;
}

.footer .policy a{
 margin-right: 40px;
  
}

.footer .sales-map{
  display: none;
}


  
/*
	==========================================
	 Banner
	==========================================
*/

.banner-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 80px;
  background-color: rgba(0,0,0,0.5);

}


.banner-elements{
  width: 600px;

}

.banner-title {
  color: #FFF;
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.banner-description {
  color: #FFF;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.banner-search-main {
  background-color:;
  border-radius: 6px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 400;
}

.banner-search {
  width: 500px;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}

.banner-btn {
  padding: 8.5px 10px 8.5px 10px;
  margin-left: -5px;
  border-radius: 0px 6px 6px 0px;
  background: #4681F4;
  color: #fff;
  margin-top: 20px;
}


@media (max-width: 600px) {
  .banner-container {
    padding-left: 20px; 
  }

  .banner-elements {
    width: 90%; 
  }

  .banner-title {
    font-size: 32px; 
  }

  .banner-description {
    font-size: 14px; 
  }

  .banner-search {
    width: 80%;
    font-size: 11px;
  }

  .banner-btn {
    margin-left: 20;
    font-size: 15px;
  }
}



 /*
	==========================================
	 carousel
	==========================================
*/
.carousel .title-carousel p,
.carousel .title-carousel h1,
.carousel .title-carousel h3,
.carousel .title-carousel h4,
.carousel .title-carousel h5,
.carousel .title-carousel h6{
  color: #040303;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.carousel .img-gap img{
  width: 503px;
 height: 345px;
 border-radius: 10px;
 flex-shrink: 0;
 z-index: 1;
}
.carousel .slick-carousel .carousel-image {
  margin-left: 10px;
  margin-right: 10px;
}

.carousel .slick-carousel .carousel-image img {
  width: 100%;
}
.slick-track{
  padding: 122px 0 63px 0;
}
.carousel .slick-prev:before {
  content: ""; 
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="34" viewBox="0 0 18 34" fill="none"><path d="M17.3117 0.748392C17.7524 1.22773 18 1.87777 18 2.55556C18 3.23334 17.7524 3.88338 17.3117 4.36272L5.67462 17.0154L17.3117 29.6681C17.7399 30.1502 17.9769 30.7959 17.9715 31.4661C17.9662 32.1363 17.7189 32.7774 17.283 33.2513C16.8472 33.7253 16.2575 33.9941 15.6411 33.9999C15.0247 34.0057 14.4309 33.7481 13.9875 33.2825L0.688318 18.8226C0.247589 18.3433 0 17.6932 0 17.0154C0 16.3376 0.247589 15.6876 0.688318 15.2083L13.9875 0.748392C14.4283 0.269197 15.0262 0 15.6496 0C16.273 0 16.8708 0.269197 17.3117 0.748392Z" fill="%23545454"/></svg>') center/contain no-repeat;

}
.carousel .slick-next:before{
  content: ""; 
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='34' viewBox='0 0 18 34' fill='none'%3E%3Cpath d='M0.688318 0.748392C0.247589 1.22773 0 1.87777 0 2.55556C0 3.23334 0.247589 3.88338 0.688318 4.36272L12.3254 17.0154L0.688318 29.6681C0.260079 30.1502 0.0231183 30.7959 0.0284747 31.4661C0.0338311 32.1363 0.281076 32.7774 0.716955 33.2513C1.15284 33.7253 1.74248 33.9941 2.35888 33.9999C2.97528 34.0057 3.56913 33.7481 4.01252 33.2825L17.3117 18.8226C17.7524 18.3433 18 17.6932 18 17.0154C18 16.3376 17.7524 15.6876 17.3117 15.2083L4.01252 0.748392C3.57166 0.269197 2.9738 0 2.35042 0C1.72704 0 1.12918 0.269197 0.688318 0.748392Z' fill='%23545454'/%3E%3C/svg%3E") center/contain no-repeat;
  
}
.carousel .slick-dots{
  top: 20px;
  position: relative;
  margin: 0 auto;
  width: 10%;
}
.carousel .slick-prev{
  top: 102%;
  left: 41%;
}
.carousel .slick-next{
  top: 102%;
  right: 41%;
}

  /*
	==========================================
	 carousel Modile
	==========================================
*/

@media (max-width: 1279px) {
  .carousel {
      display: none;
  }
}
  /* --------------------------------------------------------------------------------------- */


  .acf-map{
    height: 400px;
    width: 100%;
  }
 
